.gradient-brand-color {
    background: rgb(203, 30, 30);
    background: -moz-linear-gradient(0deg, rgba(203, 30, 30, 1) 0%, rgba(181, 51, 51, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(203, 30, 30, 1) 0%, rgba(181, 51, 51, 1) 100%);
    background: linear-gradient(0deg, rgba(203, 30, 30, 1) 0%, rgba(181, 51, 51, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cb1e1e", endColorstr="#b53333", GradientType=1);
    color: #fff;
}

.contact-info__list span.position-absolute {
    left: 0
}

.z-index-101 {
    z-index: 101;
}

.list-style--none {
    list-style: none;
}

.shadow-lg,
.shadow-lg--on-hover:hover {
    box-shadow: 0 1rem 3rem rgba(132, 138, 163, 0.1) !important;
}