@import "media_queries";
@import "variables";

#services {
    .karta {
        transition: 0.5s ease;
        background-color: white;
        margin-top: 10px;
        text-align: center;

        p {
            min-height: 70px;
        }

        &:hover {
            transition: 0.5s ease;
            color: $cardinal;
        }
    }

    h1 {
        text-align: center;
        font-size: 70px;
        color: white;
    }
}

@include mqbelow(xs) {
    #services {
        h1 {
            font-size: 50px;
        }
    }
}