$cararra: #F2F4F2;
$manatee: #9698A7;
$saffron: #F7BE28;
$cardinal: #CB1E1E;
$shark: #171718;

$colormap: 
    "cararra" $cararra black, 
    "manatee" $manatee white,
    "saffron" $saffron white,
    "cardinal" $cardinal white,
    "shark" $shark white;

$title: "Roboto";
$text: "Open sans"
