#about-img {
  background-image: url(./assets/imgs/usluga2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
}

@media (max-width: 767px) {
  #about-img {
    margin-top: 30px;
  }
}
.gradient-brand-color {
  background: #cb1e1e;
  background: -moz-linear-gradient(0deg, #cb1e1e 0%, #b53333 100%);
  background: -webkit-linear-gradient(0deg, #cb1e1e 0%, #b53333 100%);
  background: linear-gradient(0deg, #cb1e1e 0%, #b53333 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cb1e1e", endColorstr="#b53333", GradientType=1);
  color: #fff;
}

.contact-info__list span.position-absolute {
  left: 0;
}

.z-index-101 {
  z-index: 101;
}

.list-style--none {
  list-style: none;
}

.shadow-lg,
.shadow-lg--on-hover:hover {
  box-shadow: 0 1rem 3rem rgba(132, 138, 163, 0.1) !important;
}

footer h5 {
  color: white;
  font-family: "Roboto";
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto";
}

p {
  font-family: "Open sans";
}

.text-roboto {
  font-family: "Roboto";
}

.text-opens {
  font-family: "Open sans";
}

.accent-light {
  color: #ccc;
}

.accent-dark {
  color: #222;
}

.remove-link {
  text-decoration: none;
  color: white;
}
.remove-link:hover {
  color: white;
}

.text-cararra {
  color: #F2F4F2;
}

.bg-cararra {
  background-color: #F2F4F2;
}

.btn-cararra {
  background-color: #F2F4F2;
  color: black;
}
.btn-cararra:hover {
  color: black;
  background-color: #c9d1c9;
}

.text-manatee {
  color: #9698A7;
}

.bg-manatee {
  background-color: #9698A7;
}

.btn-manatee {
  background-color: #9698A7;
  color: white;
}
.btn-manatee:hover {
  color: white;
  background-color: #6e7083;
}

.text-saffron {
  color: #F7BE28;
}

.bg-saffron {
  background-color: #F7BE28;
}

.btn-saffron {
  background-color: #F7BE28;
  color: white;
}
.btn-saffron:hover {
  color: white;
  background-color: #cb9508;
}

.text-cardinal {
  color: #CB1E1E;
}

.bg-cardinal {
  background-color: #CB1E1E;
}

.btn-cardinal {
  background-color: #CB1E1E;
  color: white;
}
.btn-cardinal:hover {
  color: white;
  background-color: #881414;
}

.text-shark {
  color: #171718;
}

.bg-shark {
  background-color: #171718;
}

.btn-shark {
  background-color: #171718;
  color: white;
}
.btn-shark:hover {
  color: white;
  background-color: black;
}

#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(assets/imgs/hero.jpg);
  height: 100vh;
  background-size: cover;
}
#hero h1 {
  font-size: 90px;
  color: white;
}
#hero p {
  font-size: 40px;
}

@media (max-width: 767px) {
  #hero {
    height: 80vh;
  }
  #hero h1 {
    font-size: 50px;
  }
  #hero p {
    font-size: 30px;
  }
}
.nv-bg {
  background-color: transparent !important;
  transition: 0.5s ease-in-out;
}
.nv-bg.scrolled {
  background-color: #171718 !important;
}

#offer h1 {
  color: white;
}
#offer li {
  color: #c9c9c9;
  font-size: 22px;
}
#offer ul {
  text-align: left;
}

#offer-img {
  background-image: url(./assets/imgs/usluga1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
}

@media (max-width: 575px) {
  #offer h1 {
    text-align: center;
    font-size: 32px;
  }
  #offer li {
    color: #c9c9c9;
    font-size: 20px;
  }

  #offer-img {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  #offer ul {
    text-align: left !important;
  }
}
@media (max-width: 991px) {
  #offer h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
  }
  #offer ul {
    text-align: center;
  }
  #offer li {
    margin-top: 10px;
  }
}
#services .karta {
  transition: 0.5s ease;
  background-color: white;
  margin-top: 10px;
  text-align: center;
}
#services .karta p {
  min-height: 70px;
}
#services .karta .arrow {
  color: black;
  margin-bottom: 20px;
}
#services .karta .arrow:hover {
  color: #CB1E1E;
}
#services .karta .strzalka {
  font-size: 20px;
}
#services .karta div p {
  text-align: left;
}
#services h1 {
  text-align: center;
  font-size: 70px;
  color: white;
}

@media (max-width: 575px) {
  #services h1 {
    font-size: 50px;
  }
}
#page-services {
  margin-top: 62px;
  background-color: #171718;
  padding: 0 75px 75px 75px;
}
#page-services h1 {
  color: white;
  margin-bottom: 15px;
  margin-top: 45px;
}
#page-services p {
  color: #F2F4F2;
  margin-bottom: 40px;
}
#page-services img {
  width: 50%;
  margin-bottom: 30px;
}
#page-services a {
  font-size: 20px;
}

@media (max-width: 575px) {
  #page-services {
    padding: 0 20px 20px 20px;
  }
  #page-services h1 {
    font-size: 20px;
  }
  #page-services p {
    font-size: 13px;
  }
  #page-services img {
    width: 100%;
  }
}
@media (max-width: 767px) {
  #page-services {
    padding: 0 20px 20px 20px;
  }
  #page-services h1 {
    font-size: 20px;
  }
  #page-services p {
    font-size: 13px;
  }
  #page-services img {
    width: 100%;
  }
}
@media (max-width: 991px) {
  #page-services {
    padding: 0 20px 20px 20px;
  }
  #page-services img {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
